body {
    background-image: url("https://external-preview.redd.it/PaczBrOqMdv2vIvWK4_nRIjdMAnlIHua8RYzjdMT_-A.jpg?auto=webp&s=fdffbd677e8fdd860ecba540a721a76cb674d516");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


body {
    color: white;
    background-color: black; /* Opcional, para mejor contraste */
}

a { 
    color: white;
}

p, h1, li {
    color: white;
}
